.venv/
__pycache__/
*.pyc
.pytest_cache/
member2_verify/temp/
*.log

# Module 3 - Blockchain
member3_blockchain/.env
member3_blockchain/offchain_store.db
member3_blockchain/*.db
member3_blockchain/*.sqlite*
member3_blockchain/*.key
member3_blockchain/wallet_secrets/
